
body {
    margin: 0;
    font-family: 'Rubik', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000000;
    color: #ffd700;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
        color: #ffd700;
        transform: scale(1.1);
        box-shadow: 0 0 30px #ffd700;
        background-color: #ffffff22;   
}

main {
    padding: 2em;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #222;
    color: white;
    margin-top: 2em;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    height: 80px;
    width: auto;
}

.home, .intro-regolamento, .regolamento {
    margin-bottom: 2em;
}

.intro-regolamento ul {
    padding-left: 1.5em;
    list-style-type: disc;
}

.intro-regolamento a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.intro-regolamento a:hover {
    text-decoration: underline;
}


/* media query per dispositivi mobile(768px) */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5em;
        padding: 0;
    }

    .logo-container {
        justify-content: center;
    }
}

/* tendina */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #0d0d0d;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d0d0d;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffd700;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bottone-hover {
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.bottone-hover:hover {
    font-size: 20px;
    padding: 15px 30px;
}

.classifica{
    color: black
}

.mytab{
    border-collapse: collapse;
}
.larghezza-mytab{
    width: 300px;
}
.mytab tr,.mytab td {
    text-align: center;
} 

.bottone-img {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bottone-img img {
    width: 100px; /* dimensione dell'immagine */
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bottone-img:hover img {
    transform: translateY(-5px); /* si solleva di 5px */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* ombra per effetto "rialzo" */
}
