body {
    background: #ebebeb
}


.logo{text-align: center;width: 100%;display: block;font-size: 20px;}

#menu-principale{text-align: center;}
#menu-principale li{display: inline;}
#menu-principale li a{border: 1px solid blue;margin: 10px;}